<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Date Object</title>
</head>
<body>
<h1> 특정 날짜와 시간으로 Date 객체 생성</h1>
<script>
    document.write(new Date("December 14, 1977 13:30:00") + "<br>"); // 날짜를 나타내는 문자열
    document.write(new Date(80000000) + "<br>"); // 1970년 1월 1일 0시부터 해당 밀리초만큼 지난 날짜
    document.write(new Date(16, 5, 25) + "<br>");// 3개의 숫자로 나타내는 날짜
    document.write(new Date(16, 5, 25, 15, 40, 0) + "<br>"); // 7개의 숫자로 나타내는 시간
    document.write(new Date(2016, 5, 25, 15, 40, 0) + "<br>");// 2000년대를 표기하고자 할 때에는 연도 4자리를 전부 표기해야 함.


</script>
<h3>ISO 날짜 양식</h3>
<p>ISO 8601은 날짜와 시간을 나타내는 국제 표준 양식입니다.</p>
<script>
    document.write(new Date("1977-12-14T13:30:00") + "<br>");	// 날짜와 시간까지 표현함.
    document.write(new Date("1977-12-14") + "<br>");			// 시간이 생략되면 자동으로 09:00:00으로 설정됨.
    document.write(new Date("1977-12") + "<br>");				// 일이 생략되면 자동으로 1일로 설정됨.
    document.write(new Date("1977"));							// 월이 생략되면 자동으로 1월로 설정됨.
</script>
<h3>long 날짜 양식</h3>
<script>
    document.write(new Date("Feb 19 1982") + "<br>");		// MMM DD YYYY
    document.write(new Date("19 Feb 1982") + "<br>");		// DD MMM YYYY
    document.write(new Date("February 19 1982") + "<br>");	// 월의 축약형 뿐만 아니라 전체 단어도 인식함.
    document.write(new Date("FEBRUARY, 19, 1982"));			// 쉼표는 무시되며, 대소문자의 구분은 없음.
</script>
<h3>Short 날짜 양식</h3>

<script>
    document.write(new Date("02/19/1982") + "<br>");	// MM/DD/YYYY
    document.write(new Date("1982/02/19"));				// YYYY/MM/DD
</script>
<h3>Full 날짜 양식</h3>

<p>자바스크립트에서 사용하는 날짜 양식으로 표현된 문자열도 날짜로 인식합니다.</p>
<script>
    document.write(new Date("Wed May 25 2016 17:00:00 GMT+0900 (Seoul Time)") + "<br>");
    // GMT가 현재 국가와 다른 시간은 현재 국가의 GMT로 변환되어 표현됨.
    document.write(new Date("Wed May 25 2016 17:00:00 GMT-0500 (New York Time)"));
</script>
<hr>
<h2>Date.now() 메소드</h2>

<p>Date.now() 메소드는 1970년 1월 1일 0시 0분 0초부터 현재까지의 시간을 밀리초(millisecond) 단위의 정수로 반환합니다.</p>
<script>
    var nowMiliSec = Date.now();
    document.write(nowMiliSec + "<br>");			// 1970년 1월 1일 00:00:00부터 현재까지의 밀리초
    new Date(nowMiliSec);
    document.write(new Date(nowMiliSec) + "<br>");	// new Date()와 같은 결과를 반환함.
    document.write(new Date());
</script>
<h2>Date.prototype getter 메소드</h2>
<pre>
모든 Date 인스턴스는 Date.prototype으로부터 메소드와 프로퍼티를 상속받습니다.

Date.prototype getter 메소드는 날짜와 관련된 정보를 받아오기 위한 메소드입니다.
가장 많이 사용되는 대표적인 getter 메소드는 다음과 같습니다.

1. getFullYear()
2. getDate()
3. getDay()
4. getTime()
</pre>
<script>
    var date = new Date();
    var days = ["일","월","화","수","목","금","토"];
    document.write("오늘은 " +date.getFullYear()+"년 " + (date.getMonth()+1)+"월 " +date.getDay()+"일 " + days[date.getDay()]+"요일 입니다.");
</script>
</body>
</html>